.tws-section2{
  	line-height: 0;
  	iframe{ 
  		width: 100%;
  		height: 283.5pt;
  	}
  }

 .tws-vid-content{
 	background: {
 		image:  url(images/Artboard.png);
 		repeat: no-repeat;
 		size: cover;
 	}
 	padding: 20pt 20pt 35pt;
 	background-color: $secondary-color;
 	color: #fff;
 	h2{
 		white-space: pre-line;
	 	color: #fff;	
	 	margin-bottom: 30pt;
	 	@extend .medium-heading;
 	}
 	p{
 		@extend .medium-contents;
 	}
 	

 }