.tws-section4{
 	text-align: center;
 	color: #fff;

 	.wrapper{
 		background:{ 
 			image: url(images/Artboard_2.png);
 			color: $third-color;
 			size: cover;
 			repeat: no-repeat;
 			position: center bottom;
 		}
 		height: 1516px;
 		padding: 90pt 17pt 0;
 		@media only screen and(max-width: 450px){
 			background: $third-color;
 			height: auto;
 		}
 		position: relative;
 		overflow: hidden;

 	}

 	h2{
 		@extend .large-bold-heading;
 		margin-bottom: 30pt;
 	}
 	p{
 		@extend .large-contents;
 		@media only screen and(min-width: 451px){
 		margin-bottom: 45pt;
 		}


 		&:last-of-type{
 			padding: 40pt 0;
 			margin-bottom: auto;

 			& + img{
 				@media only screen and(min-width: 451px){
	 				position: absolute;
					left: 0;
					right: 0;
					bottom: 2px;
				}
				@media only screen and(max-width: 450px){
					margin-bottom: -50px;
					height: auto;
				}
				width: 309.6pt;
				height: 190pt;
				margin: auto;
				max-width: 100%;

 			}
 		}
 	}

 	ul{
 		overflow: hidden; 
 		padding: 0 0 50pt;
 		@media only screen and(max-width: 450px){
			padding: 0;
		}
 	}

 	li{
 		background:{
 			image: url(images/white_background_2.png);
 			repeat: no-repeat;
 			position: center;
 		}
 		width: 182.5pt;
 		height: 174.1pt;
 		@include border-radius(50% 50% 55% 50%);
 		position: relative;
 		margin: 25pt auto;
 		
 		@media only screen and (min-width: 450px) {
	 		margin: 0 auto -40pt;
	 	}

 		&:nth-child(odd){
 			@media only screen and (min-width: 450px) {
	 			float: left;
	 		}
 		}
 		&:nth-child(even){
 			@media only screen and (min-width: 450px) {
	 			float: right;
	 		}
 		}

 	}

 	.tws-inner{
 		color: $fourth-color;
 		position: absolute;
 		left: 0;
 		right: 0;
 		top: 50%;
 		padding: 0 10pt;

 		@include translateY(-50%);
 		span{
 			@extend .medium-contents;
 		}
 		h2{ 
 			font-size: 38pt;
 			margin-bottom: auto;
 			@media only screen and (max-width: 450px) {
	 			font-size: 30pt;
	 		}
 		}
 	}
 }